- const condition = endpoint==='/api/users'?'login':'signup'
header.header
  .ham
  nav.nav
    ul.nav__container
      il.nav__item
        a(href="/" class="link nav__link") Home 
      il.nav__item
        a(href="/help" class="link nav__link") Documentation
      il.nav__item
        a(href= `/${condition}` class="signup link nav__link" id="signup")= condition.toUpperCase()