header.header
  .ham
  nav.nav
    ul.nav__container
      il.nav__item
        a(href="/" class="link nav__link") Home 
      il.nav__item
        a(href="/api/help" class="link nav__link") Documentation 
      il.nav__item
        button(class="button nav__link" id="button-signup") Signup