mixin formItems(endpoint, items )
  form.form(action= endpoint method="POST")
    each item in items
      .form__item(id=`item-${item.id}`)
        input(type= `${item.type}`, name= item.id id= item.id placeholder= item.id aria-label= item.id autocomplete= item.id required)
        label(for= item.id)= item.id
    -if(endpoint==='/api/login')
      small
        a(href="/forgot" class="link nav__link") Forgot Password
    .form__item
      button(type="submit" class="button" id="form-button")= btnLabel